.searchPanel {
    height: 15vh;
    padding: 1rem 2rem 0;

    @media (max-width: 600px) {
        height: 18vh;
    }

    mat-form-field {
        margin: 1rem;

        @media (max-width: 600px) {
            margin: 0;
        }
    }
}