cdk-virtual-scroll-viewport {
    height: 85vh;

    @media (max-width: 600px) {
        height: 82vh;
    }

    .movieItem {
        background-color: #f7f4f4;
        height: 250px;
        margin: 2rem;
        border-radius: 6px;
        position: relative;
    }
}